@keyframes slideInLeftRight {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes slideOutRightLeft {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}


@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-100vw);
    }
    50% {
      opacity: 0.5;
      transform: translateX(-50vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0vw);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(100vw);
    }
    50% {
      opacity: 0.5;
      transform: translateX(50vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0vw);
    }
  }

  
@keyframes slideInBoard {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}