.board {
  &__selecter {
    height: 500px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;

    @media (max-width: 768px) {
      height: auto;
      margin-bottom: -5rem;
    }

    &--active {
      padding-bottom: 2rem;

      .board__selecter__info {
        display: block;
      }

      .board__selecter__link {
        font-size: 2.5rem;
        color: $white;
      }

      p {
        color: $cherry;
      }
    }

    &__info {
      display: none;
    }

    &__link {
      font-size: 1.5rem;
      color: $text-color;

      &:hover {
        color: $white;
      }
    }

    &__images {
      &__image {
        display: none;

        &--active {
          animation: slideInBoard 0.25s linear;
          display: block;
        }
      }
    }
  }

  &__configurator {
    background: none;
  }

  &__table {
    width: 100%;
    min-width: 740px;

    &__wrapper {
      width: 100%;
      @media (max-width: 768px) {
        overflow-x: scroll;
        padding-bottom: 3rem;
      }
    }

    tbody td {
      padding: .25rem 0;
    }
  }
}

.dropdown-toggle::after {
  margin-left: auto;
}

.moods {
  &__card {
    height: 370px;

    background-size: cover;
    background-position: center;
  }
}

.waves {
  position: relative;

  &__wave {
    position: absolute;
    z-index: 1;

    path {
      fill: $main-bg;
    }

    &--top {
      top: -1px;
    }

    &--bottom {
      bottom: 0;
      transform: rotate(0deg) !important;
    }
  }
}

.kritzel {
  padding: 10rem 0 10rem 0;
  background: URL('../img/kritzel.svg') no-repeat center;
  background-size: auto 100%;
}

.spikes {
  padding: 15rem 0 0 0;
  background: URL('../img/spikes.svg') no-repeat;
  background-position: 25% 0;
}

.pageOption {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50vw;
}
.option,
.option img {
  width: 100%;
  height: 100%;
}
.option {
  overflow: hidden;
  position: absolute;
  /* arctan(27 / 40) = 34.01935deg 
     * need to skew by 90deg - 34.01935deg = 55.98065deg
    */
  transform: skewX(-45deg);
}
.option:first-child {
  left: 0;
  transform-origin: 100% 0;
}
.option:last-child {
  right: -12vw;
  transform-origin: 0 100%;
}
.option img {
  transform: skewX(45deg);
  transform-origin: inherit;
  filter: grayscale(100%);
  transition: all 0.5s ease;
  &:hover {
    filter: grayscale(0);
  }
}

.footer {
  min-height: 420px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Gallery {
  background-color: $dark-bg;
  background: linear-gradient(45deg, $main-bg, $dark-bg);
}

.border-left {
  border-left: 1px dashed $coal !important;
}

.border-left-line {
  border-left: 1px solid  $coal !important;
}

.teaser {
  &--100 {
    margin-top: 25vh;
  }

  &--auto {
    margin-top: 5rem;
  }
}

.rating {
  width: .75rem;
  height: .75rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin-right: .25rem;
  opacity: .25;

  &--full {
    background: #ccc;
    opacity: 1;
  }
}

// UI
.dropdown-toggle,
select.form-control {
  background: $dark-bg !important;
  color: $white;
  border-color: $coal;
  height: 42px;
  font-size: 1.125rem;
  outline: none;
  box-shadow: none;

  option {
    background: $dark-bg;
    color: $white;
  }
}

.btn-primary {
  background-color: $coal;
  border: none;
  box-shadow: none !important;
  outline: none !important;

  &:hover,
  &:active,
  &:focus {
    background: $black !important;
  }
}

.snipcart-summary .nav-link {
  //justify-content: end;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;

  .slick-container {
    height: 100%;
  }
  .slick-slider, .slick-list, .slick-track {
    height: 100%;
  }

.dotty {
  width: 100%;
  height: 3rem;
}

  &__slider {
    width: 100%;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 66%;
    }
  }
}