$main-bg: #222222;
$dark-bg: #141414;
$grey-bg: #f1f1f1;
$text-color: #d4d4d4;
$white: #fff;
$blue: rgb(51, 114, 172);
$black: #000;
$cherry: rgb(240, 104, 104);

$coal: #333;

.main-bg {
  background-color: $main-bg;
}
