@import "variables";
@import "animations";
@import "v2";
@import url("https://fonts.googleapis.com/css?family=Jura&display=swap");

body {
  font-family: "Jura", sans-serif;
  background-color: $main-bg;
  color: $text-color;

  &.noCover {
    //padding-top: 4rem;
  }
}

.header {
  height: 33vh;
  max-height: 100vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center 66%;

  position: relative;

  &--home {
    height: 75vh;

    @media (min-width: 768px) {
      height: 100vh;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 12rem;
    background: linear-gradient(#000000ff, #00000000);
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__video {
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
  }
}

.disp {
  &--white {
    display: none;
  }
  &--dark {
    display: inline-block;
    filter: grayscale(100%);
  }
}

img {
  max-width: 100%;
}

.imageContainer {
  height: 333px;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

a {
  color: $white;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

$nav-height: 6rem;

.navbar {
  transition: all 0.5s ease-in-out;
  padding: 3rem;
  z-index: 3;
  font-weight: 600;

  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  &-brand {
    margin: 0;
    padding: .25rem 0 0 0;
    display: inline-flex;
    svg {
      height: 2.5rem;
      width: 100%;
  
      @media (max-width: 768px) {
        height: 1.5rem;
      }
    }
  
    &--dark {
      path {
        fill: #000;
      }
    }
  }

  &--scrolled {
    background-color: $white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    a {
      color: $black;
    }
  }

  &--btn {
    display: flex;
    cursor: pointer;
  }

  &--mega {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    padding-top: $nav-height;
    background: $main-bg;
    display: flex;
    justify-content: center;
    z-index: 1;

    $total-items: 8;

    &--initiated {
      animation: slideOutRightLeft linear;
      animation-duration: 0.25s;
      animation-fill-mode: both;
    }

    &--visible {
      animation: slideInLeftRight linear;
      animation-duration: 0.25s;
      animation-fill-mode: both;

      .navbar--mega--list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        z-index: 100;

        @for $i from 1 through $total-items {
          li:nth-child(#{$i}) {
            animation-delay: 0.125s * $i;
          }
        }

        li {
          animation: fadeIn 0.25s linear;
          animation-fill-mode: both;
        }

        .nav-item {
          font-size: 4rem;
          line-height: 3rem;
          margin-bottom: 2rem;
          @media (max-width: 768px) {
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 1rem;
          }

          @media ( max-height: 800px ){
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 1rem;
          }
        }

        a {
          color: $white;
          position: relative;

          &:hover, &.selected {
            background: $white;
            color: $black;
          }
        }
      }
    }
  }

  a {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }
}

.subnav {
  margin-top: 2rem;
  display: none;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 1rem 0;
    animation: fadeInRight 0.25s linear;
    animation-fill-mode: both;

    &:first-child {
      a {
        font-weight: bolder;
      }
    }

    a {
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      padding: 1rem;
      font-size: 1.5rem;

      &:hover {
        background: $white;
        color: $black;
      }
    }
  }

  $total-items: 8;

  @for $i from 1 through $total-items {
    li:nth-child(#{$i}) {
      animation-delay: 0.125s * $i;
    }
  }

}

.link {
  &--white {
    color: $white;

    &:hover {
      color: $blue;
    }
  }
}

.bg {
  &--dark {
    background-color: $black;
  }

  &--transp {
    background-color: rgba(255, 255, 255, 0.125);
  }

  &--white {
    background-color: $white;
    color: $black;

    &--white {
      display: inline-block;
    }
    &--dark {
      display: none;
    }
  }

  &--grey {
    background-color: $grey-bg;
    color: $black;
  }

  &--2 {
    background-color: $white;

    .breadcrumb {
      a {
        color: $black;
      }
    }

    main {
      a {
        color: $main-bg;

        &:hover {
          color: $blue;
        }
      }
    }

    .disp {
      &--white {
        display: inline-block;
      }
      &--dark {
        display: none;
      }
    }

    .link {
      &--white {
        color: $main-bg;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.fotorama__thumb {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: rem;
}

.slider {
  display: flex;

  .slick-list {
    height: 100%;
  }

  &-nav {
    width: 102px;
    height: 600px;
    margin-right: 1rem;
    &-img {
      width: 102px;
      border: 1px solid;
      border-radius: 0.5rem;
      overflow: hidden;
      margin-bottom: 0.5rem;
    }
  }

  &-main {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  &-for {
    width: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }
}

.BoardVariant {
  position: relative;
  label {
    border: 1px solid transparent;
    align-items: center;
    padding: 0.25rem;
    cursor: pointer;
  }
  .active {
    //
  }
  .radio {
    display: none;
  }

  .dropdown-menu {
    height: 420px;
    overflow-y: scroll;
    background: $main-bg;
  }
  .dropdown-item {
    color: $white;
    background: $main-bg;
  }
}
.jRight {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.Cart {
  position: fixed !important;
  height: calc(100vh - 67px);
  overflow-y: auto !important;
  top: 67px;
  left: 0;
  color: #000;

  @media (min-width: 768px) {
    width: 90vw;
    top: 5vw;
    left: 5vw;
    height: auto;
    border-radius: 1rem;

    &__Customer {
      border-left: 1px solid #999;
    }
  }

  &__List {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__Close {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 0 auto;
    background: none;
    border: none;

    span {
      font-size: 2rem;
    }
  }
}

.ColorBubble {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  border: 1px solid #ccc;
}

.card {
  position: relative;
  &--shop {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: .25rem;
    overflow: hidden;
    background: #FFF;
    width: 100%;
    height: 280px;

    &:hover {
      .card-img {
        transform: scale(1.125);
      }
    }
  }

  &-img {
    object-fit: cover;
    height: 100%;
    transition: all 0.25s ease-in-out;

    object-fit: contain;
    height: auto;
    width: auto;

    max-height: 100%;
    max-width: 100%;
  }
}
.Why {
  &__Image {
    width: 100%;
  }
}

.ShopCategory {
  .card {
    height: 50vh;
  }
  &__CardText {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
}

.Teaser {
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &--home {
    border: none;
    border-color: transparent;
    background: none;
  }

  .card-img {
    object-fit: cover;
    width: inherit;
    height: inherit;
  }

  &--h33 {
    height: 33vw;
  }

  &__Link {
    width: 100%;
    height: 100%;
  }

  &__Overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__Text {
      max-width: 1600px;
    }
  }

  &--Tile {
    height: auto;
    margin-bottom: 3rem;

    a {
      height: 100%;
    }
  }
}

.container {
  &--image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--cards {
    .card {
      border: none;
      border-radius: 0;
    }
  }

  &--420 {
    max-width: 1600px;
  }
}

.p {
  &-10 {
    padding: 10rem;
  }

  &b-10 {
    padding-bottom: 10rem;
  }

  &t-10 {
    padding-top: 10rem;
  }
}

.blog {
  .card {
    height: 263px;
  }
}

.navbar-nav {
  position: relative;
}

.navbar-toggler {
  position: absolute;
  top: 1rem;
  right: 0;
  color: $white;
  right: 1rem;

  .closed {
    display: none;
  }
  .open {
    display: block;
  }

  &.collapsed {
    .closed {
      display: block;
    }
    .open {
      display: none;
    }
  }
}

.menu_has_children {
  .sub-menu {
    list-style: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: $dark-bg;
    -webkit-box-shadow: 0px 18px 54px -8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 18px 54px -8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    li {
      padding: 0.5rem 0;
    }
  }

  &:hover {
    .sub-menu {
      opacity: 1;
      visibility: visible;
    }
  }
}

.Button {
  color: $cherry;
  border: 1px solid $cherry;
  padding: 0.5rem 1rem;
  border-radius: 0;

  &:hover {
    background-color: $cherry;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.breadcrumb {
  background: none;
}

.slick-next,
.slick-prev {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.125s ease-in;
}

.slick-slider {
  &:hover {
    .slick-next,
    .slick-prev {
      opacity: 1;
    }
  }
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.slick-big {
  cursor: zoom-in;
}

.slick-lightbox-slick-item-inner {
  display: flex !important;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: $main-bg;
  opacity: 0.25;
  font-size: 1.5rem;
}

.slick-slide {
  outline: none;
  border: none;
  justify-content: center;
}

.slick-initialized .slick-slide {
  display: flex;
}

.slick-thumbs .slick-slide {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.125s;
  padding: 1px;
}

.slick-thumbs {
  display: flex;
  .slick-slide {
    display: flex;
    justify-content: center;
    &.slick-current,
    &:hover {
      opacity: 1;
      border: 1px dashed $text-color;
      border-radius: 0.5rem;
      padding: 0;
    }
  }
}

.slick-list {
  width: 100%;
}

.Newsletter {
  input {
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0 .5rem;
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 0;
    border: 1px solid $coal;
    color: $grey-bg;
  }

  .btn {
    height: 3rem;
    font-size: 1.25rem;
    border-radius: 0;
    border: 1px solid $coal;
    background: none;

    &:hover {
      background-color: $coal;
    }
  }

  &__Row {
    border-top: 1px solid $coal;
    border-bottom: 1px solid $coal;
    padding: 2rem;

    @media (max-width: 768px) {
      .border-left-line {
        border-left: none !important;
      }
    }

    .fab {
      opacity: .5;
    }
  }
}